#These snippets override anything in the default tex snippets.
snippet orml
	/**
	* @orm:Column(type="${1:string}", length="${3}")
	*/
	protected $${2};
snippet orm
	/**
	* @orm:Column(type="${1:string}")
	*/
	protected $${2};
