[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/PDV"]
	path = bundle/PDV
	url = https://github.com/nacmartin/PDV--phpDocumentor-for-Vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/php-namespace"]
	path = bundle/php-namespace
	url = git://github.com/arnaud-lb/vim-php-namespace.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-symfony"]
	path = bundle/vim-symfony
	url = https://github.com/docteurklein/vim-symfony.git
